 <body style="background-color:#1c87c9;">
<hello name="{{ name }}"></hello>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1 style="color:Green;">To Szymon1</h1>
<h2 style="color:red;">To {{ name }} </h2>
<h3 style="color: #e32636">To {{ name }} </h3>
<h4 style="color: #e32636">To {{ name }} </h4>


<button type="button" class="btn btn-outline-danger" onclick="window.location.href='https://www.youtube.com'">
      Youtube</button>
<br>

<button type="button" class="btn btn-danger" onclick="window.location.href='https://www.youtube.com'">Youtube</button>
<table>
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
</table>
<br>
<br><br><br><br><br><br><br>

