 <body style="background-color:#f56800;">
<hello name="{{ name }}"></hello>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<h1 style="color:Green;">To Szymon1</h1>
<h2 style="color:red;">To {{ name }} </h2>
<h3 style="color: #7df500">To {{ name }} </h3>
<h4 style="color: #7df500">To {{ name }} </h4>


<button type="button" class="btn btn-outline-danger" onclick="window.location.href='https://www.youtube.com'">
      Youtube</button>
<br>
<a href='https://www.youtube.com' target="_blank" title="szymoi to kox">
</a>
<button type="button" class="btn btn-danger" onclick="window.location.href='https://www.youtube.com'">Youtube</button>
<br><br>
<table>
  <tr>
    <th>Najlepsze</th>
    <th>Kanały</th>
  </tr>
  <tr>
    <td>szymoi</td>
    <td>Jutuber</td>
  </tr>
</table>
<br>
<br><br><br><br><br>

 <h5 class='smallHeading last-smallHeading'>Komentarze</h5>
                <ul class="list-group list-group-flush">
                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>Aurelia</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>dzisiaj</p>
                                </div>
                                <div class='col-12'>
                                    <p>45?? gdzie?? Kochana, nie dałabym Ci więcej, niż 28!</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>Milka79</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>dzisiaj</p>
                                </div>
                                <div class='col-12'>
                                    <p>Rewelacja ten Éternelle, czytałam już o nim, ale teraz muszę wypróbować</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>Kamila Juszczyk</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>dzisiaj</p>
                                </div>
                                <div class='col-12'>
                                    <p>Potwierdzam, Éternelle działa lepiej niż seria zabiegów odmładzających w
                                        gabinecie</p>
                                    <img class="comment-img_1"
                                        src="./img/Plenty-Valley-Nurse-Kelly-1B-300x265-300x265.png" alt="">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>Miśka</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>dzisiaj</p>
                                </div>
                                <div class='col-12'>
                                    <p>A czy któraś z Was próbowała mezoterapię osoczem?</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>Georgina</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>dzisiaj</p>
                                </div>
                                <div class='col-12'>
                                    <p>nigdy nie zdecyduję się na botoks, ale ten krem KUSI</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>MJ</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>wczoraj</p>
                                </div>
                                <div class='col-12'>
                                    <p>Gdzie można dostać ten produkt??</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>Danna</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>wczoraj</p>
                                </div>
                                <div class='col-12'>
                                    <p>Haha, kochana u mnie też myśleli, że się dałam ponaciągać chirurgowi, bo akurat
                                        Éternelle stosowałam na urlopie.</p>
                                    <img class="comment-img_2" src="./img/Halo_wBBL_3wk_post_right.png" alt="">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>Anka S-K</b></p>
                                </div>
                                <div class="col col-p col-p">
                                    <p class='p4'>wczoraj</p>
                                </div>
                                <div class='col-12'>
                                    <p>Wowoooow! Jakie efekty!</p>
                                    <img class="comment-img_3"
                                        src="./img/laser-resurfacing-before-after-photo-7-290.png" alt="">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>zszkowowana</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>wczoraj</p>
                                </div>
                                <div class='col-12'>
                                    <p>Właśnie używam od dwóch tygodni i jestem w szoku… Tyle kasy wpakowałam w zabiegi
                                        estetyczne i po co, skoro wystarczy Éternelle! Dziewczyny nie wahajcie się, to
                                        działa CUDA</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>F</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>wczoraj</p>
                                </div>
                                <div class='col-12'>
                                    <p>Ja tez dołączę do grupy osób zadowolonych z działania Éternelle. Co prawda mam
                                        dopiero 28 lat, ale miałam naprawdę głęboką lwią zmarszczkę… Po miesiącu prawie
                                        jej nie widać! Mam nadzieję, że efekt się utrzyma</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li id='list-item' class="list-group-item">
                        <div class="flex-container">
                            <div class="user-img"><img class="user" src="./img/user.png" alt="user"></div>
                            <div class="row row-cols-2">
                                <div class='col-auto col-style'>
                                    <p class='p3'><b>Joanna Urban</b></p>
                                </div>
                                <div class="col col-p">
                                    <p class='p4'>wczoraj</p>
                                </div>
                                <div class='col-12'>
                                    <p>Hela gratuluję, wyglądasz przepięknie</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class='comment-section'>
                    <p class="your-comment">Twój komentarz</p>
                    <div class="flex-container">
                        <div class="comment-user-img"><img class="comment-user" src="./img/user2.png" alt="user"></div>
                        <div class="row row-cols-1">
                            <div class="col pb-3">
                                <input type="name" class="form-control" id='InputName' placeholder="Imię">
                            </div>
                            <div class="col pb-3">
                                <textarea rows='3' class="form-control" id='Textarea'
                                    placeholder="Komentarz"></textarea>
                            </div>
                            <div class="col">
                                <button class="submit-comment">Dodaj komentarz</button>
                            </div>
                        </div>
                    </div>
                </div>

<br><br>

